.content {
	display: flex;
	flex-direction: column;
	position: relative;
	left: 0;
	top: 0;
	height: 100%;
	&__container {
		padding-top: rem(160);
		padding-bottom: rem(128);
		@media (max-width: 720px) {
			padding-top: calc(rem(80) * var(--page-block-height) / 568);
		}
	}
	&__background {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		@media (max-width: 720px) {
			background: linear-gradient(180deg, $--white 0%, $--white 40%, $--grayBg 40%, $--grayBg 100%);
		}
		& > div:first-child {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			left: calc(-9.5% * var(--height-ratio) + (1 - var(--height-ratio)) * 200px);
			top: calc(16% * var(--height-ratio));
			width: calc(64% * var(--height-ratio));
			//padding-top: 86.8%;
			height: 81%;
			@media (max-width: 720px) {
				top: calc(rem(150) * var(--page-block-height) / 568);
				left: auto;
				right: rem(-120);
				width: calc(rem(370) * var(--page-block-height) / 568);
				max-width: rem(600);
			}
			& > div {
				position: relative;
				left: 0;
				top: 0;
				width: 100%;
				max-height: 100%;
				padding-top: 133%;
				& > img {
					display: inline-block;
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					object-fit: contain;
					object-position: center;
				}
				&::before {
					content: "";
					position: absolute;
					bottom: 10%;
					left: 0;
					width: 100%;
					padding-top: 100%;
					background-color: $--semiGray;
					border-radius: 50%;
					@media (max-width: 720px) {
						display: none;
					}
				}
				&::after {
					content: "";
					position: absolute;
					top: rem(-60);
					left: -25%;
					width: 150%;
					padding-top: 80%;
					background: linear-gradient(180deg, $--white 29.13%, rgba(13, 112, 6, 0) 100%);
					@media (max-width: 720px) {
						display: none;
					}
				}
			}
		}
	}
	&__wrap {
		height: 100%;
	}
	&__logo {
		max-width: rem(320);
		margin-bottom: rem(88);
	}
	&__title {
		display: flex;
		flex-direction: column;
		font-size: scaleVal(124);
		font-weight: 700;
		line-height: 1;
		margin-bottom: calc(rem(180) * var(--page-block-height) / 1080);
		@media (max-width: $mbpTablet) {
			margin-bottom: calc(rem(120) * var(--page-block-height) / 1080);
		}
		@media (min-width: $mbpMinWidth) and (max-width: $mbpTablet) {
			font-size: aval(42, 108, 0, $minWidth, $mbpTabletNu);
		}
		@media (max-width: $mbpMinWidth) {
			font-size: rem(42);
		}
		& > span {
			font-size: scaleVal(80);
			font-weight: 400;
			line-height: 1;
			@media (min-width: $mbpMinWidth) and (max-width: $mbpTablet) {
				font-size: aval(32, 80, 0, $minWidth, $mbpTabletNu);
			}
			@media (max-width: $mbpMinWidth) {
				font-size: rem(32);
			}
		}
	}
}
.agit-block {
	max-width: rem(320);
	min-width: rem(280);
	margin-left: 49%;
	@media (max-width: 720px) {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		max-width: 100%;
		margin-left: 0;
	}
	&__title {
		display: inline-block;
		font-size: rem(40);
		font-weight: 600;
		line-height: 1;
		margin-bottom: rem(25);
		@media (min-width: $mbpSmallMobile) and (max-width: $mbpTablet) {
			font-size: aval(24, 40, 0, $mbpSmallMobileNu, $mbpTabletNu);
		}
		@media (max-width: $mbpSmallMobile) {
			font-size: rem(24);
		}
		@media (max-width: 720px) {
			background-color: $--white;
			padding: rem(18) rem(22);
			margin-bottom: 0;
		}
	}
	&__body {
		@media (max-width: 720px) {
			background-color: $--white;
			padding: rem(30) 0 rem(44);
		}
	}
	&__msg {
		font-size: rem(18);
		font-weight: 300;
		line-height: rem(30);
		margin-bottom: rem(40);
		@media (max-width: 720px) {
			display: none;
		}
	}
	&__btn {
		width: 100%;
		@media (max-width: 720px) {
			width: 80%;
			max-width: rem(280);
			font-size: rem(18);
			line-height: 1.66;
			color: $--black;
			background-color: $--white;
			border: rem(1) solid $--black;
			padding: rem(14) rem(45);
			margin: auto auto;
			&:hover {
				color: $--orange;
				border-color: $--orange;
				background-color: $--white;
			}
		}
		@media (max-width: $mbpSmallMobile) {
			padding: rem(10) rem(45);
		}
	}
}
