.home--news {
	background-color: $--darkBlue;
	&__title-wrap {
		margin-bottom: var(--between-blocks-h-gap);
	}
	&__body {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: var(--between-blocks-v-gap-xl) var(--between-blocks-h-gap);
		@media (max-width: $mbpTablet) {
			grid-template-columns: 1fr 1fr;
		}
		@media (max-width: $mbpMobile) {
			grid-template-columns: 1fr;
		}
	}
}