.content {
	display: flex;
	flex-direction: column;
	position: relative;
	left: 0;
	top: 0;
	height: 100%;
	&__container {
		padding-top: rem(160);
		padding-bottom: rem(128);
		@media (min-width: ($mbpTablet + 0.1px)) {
			overflow-x: hidden;
			overflow-y: auto;
		}
		@media (max-width: $mbpTablet) {
			padding-top: 30px;
		}
		@media (max-width: $mbpTablet) {
			padding-left: 60px;
			padding-right: 60px;
		}
		@media (min-width: 600px) and (max-width: $mbpTablet) {
			padding-left: aval(15, 60, 0, 600, $mbpTabletNu);
			padding-right: aval(15, 60, 0, 600, $mbpTabletNu);
		}
		@media (max-width: 600px) {
			padding-left: 15px;
			padding-right: 15px;
		}
		@media (max-width: 720px) {
			padding-top: 50px;
			padding-bottom: 100px;
		}
	}
	&__title {
		margin-bottom: calc(rem(63) * var(--page-block-height) / 1080);
		@media (max-width: $mbpTablet) {
			margin-bottom: rem(70);
		}
	}
	&__breadcrumbs {
		margin-bottom: rem(10);
	}
}
.breadcrumbs {
	font-size: rem(20);
	line-height: rem(32);
	text-transform: uppercase;
	&__root {
	}
}