@use "sass:math";
@import "./config.scss";
@import "../../../repo/scss/base/null.scss";

// Подключение темы (набор цветов)
@import "./theme.scss";

// Базовая разметка страницы

[class*="__container"], .section-container {
	max-width: px($containerWidth);
	padding: 0 px(math.div($containerPadding, 2));
	margin: auto;
	@media (max-width: $mbpLargePc) {
		max-width: 1200px;
	}
}
.page {
	&__main {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		&_with-shift {
			padding-top: 102px;
			@media (max-width: $mbpSmallMobile) {
				padding-top: 82.28px;
			}
		}
	}
}

// Переменные разметки
html {
	--section-p-y: 120px;
	--block-v-gap: 40px;
	--relatives-v-gap: 20px;
	--between-blocks-h-gap: 80px;
	--between-blocks-v-gap-xl: 80px;
	--between-blocks-v-gap: 40px;
	// @media (max-width: $mbpPc) {
	// 	--between-blocks-v-gap-xl: 60px;
	// 	--between-blocks-h-gap: 60px;
	// 	--section-p-y: 80px;
	// }
	@media (max-width: 1520px) {
		--between-blocks-v-gap-xl: 60px;
		--between-blocks-h-gap: 60px;
		--section-p-y: 80px;
	}
}


@import "../../fonts/index.scss";
@import "./typography.scss";
@import "./framework.scss";
@import "../../../repo/components/accordeon/index.scss";
@import "../components/drawers.scss";
@import "../components/common.scss";
@import "../components/burger-btn.scss";
@import "../components/header.scss";
@import "../components/footer.scss";
@import "../components/products-list-card.scss";
@import "../components/news-card.scss";