.availability-drawer {
	font-size: 15px;
	line-height: 21px;
	@media (min-width: ($mbpDesign + 0.1px)) {
		font-size: rem(15);
		line-height: rem(21);
	}
	&__warehouse-name {
		display: inline-block;
		font-weight: 700;
		text-transform: uppercase;
		margin-right: 0.3em;
		&::after {
			content: ":";
		}
	}
	&__warehouse-amount {
		display: inline-block;
		font-weight: 300;
		color: $--orange;
	}
	& p {
		margin-bottom: rem(15);
	}
}