.product-card {
	border-top: rem(1) solid $--grayBg;
	&__container {
		&:first-child {
			padding-top: rem(160);
			@media (max-width: $mbpMobile) {
				padding-top: 100px;
			}
		}
		&:last-child {
			padding-bottom: rem(128);
			@media screen and (max-width: 720px) {
				padding-bottom: 60px;
			}
		}
		
		@media screen and (max-width: $mbpSmallMobile) {
			padding-left: rem(11);
			padding-right: rem(11);
		}
	}
	&__availability-msg {
		font-size: 15px;
		font-weight: 300;
		line-height: 21px;
		color: $--greenTwo;
		margin-right: rem(10);
		@media (min-width: ($mbpDesign + 0.1px)) {
			font-size: rem(15);
			font-weight: 300;
			line-height: rem(21);
		}
	}
	&__selection-title {
		font-size: rem(32);
		font-weight: 300;
		line-height: rem(38);
		letter-spacing: 0em;
		text-align: left;
		padding: rem(30) 0 rem(25);
		border-bottom: rem(1) solid $--grayBg;
	}
	&__min-order-remark {
		font-size: 15px;
		font-weight: 300;
		line-height: 21px;
		border-bottom: rem(1) solid $--grayBg;
		padding: rem(20) 0;
		@media (min-width: ($mbpDesign + 0.1px)) {
			font-size: rem(15);
			line-height: rem(21);
		}
	}
	&__btn {
		max-width: rem(450);
	}
}
.product-detail {
	display: flex;
	flex-direction: column;
	
	&_inline {
		flex-direction: row;
		gap: 0.5em;
		align-items: center;
	}
	&__label {
		font-size: 15px;
		font-weight: 700;
		line-height: 21px;
		letter-spacing: 0.05em;
		text-align: left;
		margin-bottom: rem(10);
		&:after {
			content: ":";
		}
		@media (min-width: ($mbpDesign + 0.1px)) {
			font-size: rem(15);
			line-height: rem(21);
		}
	}
	&_inline &__label {
		margin-bottom: 0;
	}
}
.product-card-accordeon {
	&__item {
		padding: 0 rem(50);
		@media (min-width: $mbpSmallMobile) and (max-width: $mbpTablet) {
			padding-left: aval(10, 50, 0, $mbpSmallMobileNu, $mbpTabletNu);
			padding-right: aval(10, 50, 0, $mbpSmallMobileNu, $mbpTabletNu);
		}
		@media (max-width: $mbpSmallMobile) {
			padding-left: rem(10);
			padding-right: rem(10);
		}
		transition: background-color 0.3s;
		&.open {
			background-color: $--inputBg;
		}
	}
	&__header {
		display: flex;
		justify-content: space-between;
		font-size: rem(24);
		font-weight: 300;
		line-height: rem(32);
		color: $--black;
		padding: rem(23) 0;
		cursor: pointer;
		transition: padding 0.3s;
		@media screen and (max-width: $mbpSmallMobile) {
			padding: rem(15) 0;
		}
	}
	&__item.open &__header {
		border-bottom: rem(1) solid $--grayBg;
	}
	&__btn {
		position: relative;
		width: rem(32);
		height: rem(32);
		border-radius: 50%;
		background-color: $--white;
		&:before {
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			width: rem(12);
			height: rem(2);
			transform: translate(-50%, -50%);
			background-color: $--orange;
		}
		&:after {
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			width: rem(2);
			height: rem(12);
			background-color: $--orange;
			transform: translate(-50%, -50%);
			transition: transform 0.3s;
		}
	}
	&__item.open &__btn:after {
		transform: translate(-50%, -50%) rotate(90deg);
	}
	&__body {
		height: 0;
		overflow: hidden;
		transition: height 0.3s;
		border-bottom: rem(1) solid $--grayBg;
	}
	&__item.open &__body {
		border-bottom-color: transparent;
	}
	&__body-inner {
		padding: rem(20) 0 rem(40);
		@media screen and (max-width: $mbpSmallMobile) {
			padding: rem(15) 0 rem(30);
		}
	}
}
.product-card-desc {
	font-weight: 300;
	font-size: 15px;
	line-height: 21px;
	@media (min-width: ($mbpDesign + 0.1px)) {
		font-size: rem(15);
		line-height: rem(21);
	}
	&__header {
		text-transform: uppercase;
		letter-spacing: 0.05em;
		margin-bottom: rem(10);
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__text {
		margin-bottom: rem(20);
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.products-summary {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: rem(25) 0 rem(30);
	@media screen and (min-width: ($mbpMobile + 0.1px)) {
		&_right {
			justify-content: flex-end;
		}
	}
	&__label {
		font-size: 15px;
		font-weight: 300;
		line-height: 21px;
		color: $--darkGray;
		margin-right: rem(30);
		@media (min-width: ($mbpDesign + 0.1px)) {
			font-size: rem(15);
			line-height: rem(21);
		}
	}
	&_right &__label {
		margin-right: rem(70);
		@media (max-width: $mbpSmallMobile) {
			margin-right: 20px;
		}
	}
	&__price {
		font-size: rem(40);
		font-weight: 300;
		line-height: rem(40);
		color: $--black;
		&:after {
			content: attr(data-currency);
			font-weight: 500;
		}
	}
}