.quick-cart-drawer {
	&__btns {
		display: flex;
		flex-wrap: wrap;
		gap: rem(10) rem(30);
	}
	&__complete-btn, &__continue-btn {
		flex: 1 1 auto;
		font-weight: 600;
		padding-top: 18px;
		padding-bottom: 17px;
		text-transform: uppercase;
		@media (min-width: ($mbpDesign + 0.1px)) {
			padding-top: rem(18);
			padding-bottom: rem(17);
		}
		@media (max-width: $mbpSmallMobile) {
			font-weight: 400;
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
}
