.content {
	&__container {
		padding-bottom: rem(200);
		@media (max-width: $mbpTablet) {
			padding-bottom: rem(100);
		}
		@media (max-width: 720px) {
			padding-bottom: rem(50);
		}
	}
	&__collections-wrap {
		@media (max-width: 490px) {
			margin-left: -20px;
			margin-right: -20px;
		}
	}
}
.collections-grid {
	// display: flex;
	// flex-wrap: wrap;
	// margin: rem(-10);
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(rem(260), 1fr));
	@media (max-width: $mbpMobile) {
		grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	}
	@media (max-width: 490px) {
		grid-template-columns: 1fr;
	}
	@media (min-width: $mbpMobile) and (max-width: $mbpTablet) {
		gap: 60px;
	}
	@media (max-width: $mbpSmallMobile) {
		gap: 40px 20px;
	}
	&__card {
		background-color: $--white;
		@media (min-width: ($mbpTablet + 0.1px)) {
			padding-bottom: rem(10);
			transition: padding-bottom 0.3s, margin-bottom 0.3s;
			&:hover {
				position: relative;
				left: 0;
				top: 0;
				padding-bottom: rem(20);
				margin-bottom: calc(var(--btn-block-height) * -1px - rem(20));
				box-shadow: 0px rem(4) rem(12) rgba(92, 92, 92, 0.25);
				z-index: 10;
			}
		}
		@media (max-width: $mbpTablet) {
			margin-bottom: 0;
			padding-bottom: rem(20);
		}
		@media (max-width: 600px) {
			max-width: rem(380);
			margin: 0 auto;
		}
	}
	&__card-img-area {
		display: block;
		position: relative;
		left: 0;
		top: 0;
		padding-top: 83%;
		margin-bottom: rem(10);
		transition: margin-bottom 0.3s;
		@media (max-width: $mbpTablet) {
			padding-top: 130%;
		}
		> h3 {
			position: absolute;
			left: 0;
			bottom: rem(-5);
			font-size: scaleVal(32);
			line-height: scaleVal(37);
			font-variation-settings: 'wdth' 100;
			background-color: $--white;
			padding: rem(5) rem(18);
		}
		@media (max-width: $mbpTablet) {
			margin-bottom: rem(20);
		}
	}
	&__card:hover &__card-img-area {
		margin-bottom: rem(20);
	}
	&__card-img-wrap {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		> img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: left 0.3s, top 0.3s, width 0.3s, height 0.3s;
		}
	}
	&__card:hover &__card-img-wrap > img {
		top: -5%;
		left: -5%;
		width: 110%;
		height: 110%;
	}
	&__textrures-area {
		display: flex;
		align-items: center;
		margin-bottom: rem(20);
		padding-left: rem(18);
		padding-right: rem(10);
		@media (max-width: $mbpTablet) {
			display: block;
		}
		> dt {
			font-size: scaleVal(18);
			font-weight: 400;
			line-height: scaleVal(25);
			letter-spacing: 0.05em;
			text-transform: uppercase;
			margin-right: scaleVal(10);
			@media (max-width: $mbpTablet) {
				margin-bottom: 15px;
			}
		}
		> dd {
			display: flex;
			align-items: center;
			> ul {
				display: inline-flex;
				align-items: center;
				margin-right: scaleVal(5);
				@media (max-width: $mbpTablet) {
					margin-right: 10px;
				}
				> li {
					width: scaleVal(20);
					height: scaleVal(20);
					background-color: var(--color);
					border-radius: 50%;
					margin-right: scaleVal(5);
					@media (max-width: $mbpTablet) {
						margin-right: 8px;
					}
					&:last-child {
						margin-right: 0;
					}
					@media (max-width: $mbpTablet) {
						width: 28px;
						height: 28px;
					}
				}
			}
			> div {
				display: inline-block;
				font-size: scaleVal(20);
				font-weight: 300;
				line-height: scaleVal(32);
			}
		}
	}
	&__btn-area {
		padding: 0 rem(12);
		overflow: hidden;
		> .btn {
			visibility: hidden;
			margin-bottom: calc(var(--btn-block-height) * -1px);
			transition: visibility 0.3s, margin-bottom 0.3s;
			@media (max-width: $mbpTablet) {
				max-width: rem(250);
				margin-bottom: 0;
				visibility: visible;
			}
		}
	}
	&__card:hover &__btn-area > .btn {
		margin-bottom: 0;
		visibility: visible;
	}
}