.main-gallery {
	&__slide:nth-child(1) {
		> img {
			object-position: center right;
		}
	}
	&__slide:nth-child(2) {
		> img {
			object-position: bottom left;
		}
	}
	&__slide:nth-child(3) {
		> img {
			object-position: top left;
		}
	}
	&__slide:nth-child(4) {
		> img {
			object-position: top right;
		}
	}
	
}