@import "../components/burger-btn.scss";

.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 10;
	transition: background-color ease-in 0.3s;
	&_with-bg, .scroll-80-plus & {
		background-color: $--darkBlue;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		padding: 20px 0;
	}
	&__logo {
		display: none;
		width: 88.38px;
		@media (max-width: $mbpTablet) {
			display: block;
		}
	}
	&__menu-btn {
		display: none;
		position: relative;
		left: 0;
		top: 0;
		z-index: 300;
		@media (max-width: $mbpTablet) {
			display: block;
		}
	}
	&__burger-btn-desctop-area {
		display: flex;
		align-items: center;
	}
	&__main-menu-desctop-area {
		flex: 1 1 100%;
	}
}
.header-nav {
	display: grid;
	grid-template-columns: minmax(100px, 1fr) auto minmax(225px, 1fr);
	gap: 40px;
	@media (max-width: $mbpTablet) {
		display: flex;
		flex-direction: column;
		background-color: $--darkBlue;
		padding: 19px 25px 25px;
	}
	&__burger-btn {
		display: none;
		@media (max-width: $mbpTablet) {
			display: block;
		}
	}
	&__mobile-header {
		grid-column: 1/span 1;
		@media (max-width: $mbpTablet) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 110px;
		}
	}
	&__main-menu-wrap {
		grid-column: 2/span 1;
		display: flex;
		align-items: center;
		@media (max-width: $mbpTablet) {
			flex-direction: column;
			margin-bottom: 40px;
		}
	}
	&__find-distributor-wrap {
		grid-column: 3/span 1;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		@media (max-width: $mbpTablet) {
			justify-content: center;
		}
	}
	&__logo {
		width: 88.38px;
	}
}
._main-logo {
	@media (max-width: $mbpSmallMobile) {
		width: 58.29px;
	}
}
.main-menu {
	&__list {
		display: flex;
		margin-top: -40px;
		margin-left: -40px;
		@media (max-width: $mbpTablet) {
			flex-direction: column;
			align-items: center;
		}
	}
	&__item {
		display: flex;
		align-items: center;
		text-align: center;
		margin-left: 40px;
		margin-top: 40px;
	}
}