.gallery-drawer {
	&__panel {
		height: 80%;
		@media (orientation: landscape) {
			height: 100%;
		}
	}
	&__inner {
		display: flex;
		flex-direction: column;
		overflow-y: hidden;
		height: 100%;
	}
	&__form-select-btn {
		margin-bottom: rem(5);
	}
	&__close-btn {
		position: absolute;
		top: rem(26);
		right: rem(32);
		z-index: 3;
		@media (max-width: $mbpMobile) {
			top: 18px;
			right: 16px;
		}
		@media (max-width: $mbpSmallMobile) {
			top: 12px;
			right: 4px;
		}
	}
}
.filters-drawer {
	&__close-btn {
	}
	&__textures-list {
		margin-bottom: 20px;
		@media (min-width: ($mbpDesign + 0.1px)) {
			margin-bottom: rem(20);
		}
	}
}