.projects-gallery {
	&__wrap {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	&__slider {
		flex: 1 1 auto;
		height: auto;
	}
	&__product-select {
		flex: 0 0 auto;
	}
	
	&__slide {
		display: flex;
		align-items: center;
		position: relative;
		left: 0;
		top: 0;
	}
	&__slide-bg-img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		filter: blur(rem(4));
		z-index: 1;
	}
	&__slide-img {
		position: relative;
		left: 0;
		top: 0;
		width: 100%;
		max-height: 100%;
		//max-height: calc(var(--gallery-block-height) * 1px);
		object-fit: contain;
		object-position: bottom center;
		z-index: 2;
	}
}
.product-select {
	position: relative;
	padding: rem(34) 0;
	background: $--white;
	border-right: rem(1) solid $--gray;
	box-shadow: 0px rem(-14) rem(35) rgba(0, 0, 0, 0.14);
	@media (max-width: $mbpMobile) {
		padding: 18px 0;
	}
	@media (max-width: $mbpSmallMobile) {
		padding: 10px 0;
	}
	&__slider {
	}
	
	&__prev-btn-area, &__next-btn-area {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		height: 100%;
		width: rem(80);
		z-index: 2;
		background-color: rgba($color: $--white, $alpha: 0.6);
		@media (max-width: $mbpMobile) {
			width: 60px;
		}
	}
	&__prev-btn-area {
		left: 0;
	}
	&__next-btn-area {
		right: 0;
	}
	&__prev-btn, &__next-btn {
		justify-content: center;
		align-items: center;
		width: rem(30);
		height: rem(30);
		stroke: $--black;
		cursor: pointer;
		> svg {
			width: rem(19);
			height: rem(14);
		}
		&.swiper-button-disabled {
			opacity: 0.4;
			cursor: default;
		}
	}
	&__prev-btn:not(.swiper-button-lock), &__next-btn:not(.swiper-button-lock) {
		display: flex;
	}
	&__next-btn {
		transform: rotate(180deg);
	}
	&__link {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: rem(20);
		font-weight: 400;
		line-height: rem(32);
		width: auto;
		transition: color 0.3s;
		@media (max-width: $mbpMobile) {
			font-size: 15px;
			line-height: 32px;
		}
		@media (max-width: 420px) {
			max-width: 240px;
		}
		> span:first-child {
			text-align: center;
		}
		> span:last-child {
			font-weight: 700;
		}
		&:hover {
			color: $--orange;
		}
	}
}