.page {
	&__info-area {
		overflow: hidden;
		@media (max-width: $mbpTablet) {
			height: auto;
		}
	}
	&__gallery-area {
		@media (max-width: $mbpTablet) {
			display: none;
		}
	}
}
.section-slider {
	overflow-y: auto;
	overflow-x: hidden;
	&__wrapper {
		@media (max-width: $mbpTablet) {
			display: flex;
			flex-direction: column;	
		}
	}
}
