.dealer-contact {
	&__title {
		font-size: rem(32);
		line-height: rem(37);
		font-variation-settings: 'wdth' 100;
		text-transform: uppercase;
		margin-bottom: rem(20);
	}
	&__details {
		font-size: 18px;
		line-height: 24px;
		font-variation-settings: 'wdth' 100;
		@media (min-width: ($mbpDesign + 0.1px)) {
			font-size: rem(18);
			line-height: rem(24);
		}
		> div {
			display: flex;
			margin-bottom: rem(5);
			&:last-child {
				margin-bottom: 0;
			}
			> dt {
				display: inline;
				font-weight: 600;
				margin-right: 0.5em;
			}
			> dd {
				display: inline;
			}
		}
	}
}