
.where-to-buy {
	overflow-x: hidden;
	overflow-y: auto;
	&__container {
		overflow: visible;
		&:nth-child(1) {
			padding-bottom: rem(50);
		}
		&:nth-child(2) {
			background-color: $--grayBg;
			padding-top: rem(32);
			padding-bottom: rem(115);
		}
	}
}
.outlets-list {
	
}
.outlet-card {
	&__header {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: rem(20);
		font-size: 15px;
		font-weight: 700;
		line-height: 21px;
		margin-bottom: 20px;
		@media (min-width: ($mbpDesign + 0.1px)) {
			font-size: rem(15);
			line-height: rem(21);
			margin-bottom: rem(20);
		}
	}
	&__title {
	}
	&__status {
		display: flex;
		align-items: center;
		font-weight: 300;
		&:after {
			content: "";
			display: inline-block;
			width: 11px;
			height: 11px;
			border-radius: 50%;
			margin-left: rem(10);
			@media (min-width: ($mbpDesign + 0.1px)) {
				width: rem(11);
				height: rem(11);
			}	
		}
		&.available-all:after {
			background-color: $--green;
		}
	}
	&__data {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		// display: grid;
		// grid-template-columns: repeat(auto-fit, minmax(max(rem(230), 230px), rem(260)));
		gap: rem(30);
		font-size: 15px;
		font-weight: 300;
		line-height: 20px;
		margin-bottom: rem(35);
		// > * {
		// 	grid-column: auto/span 1;
		// 	grid-row: auto/span 1;
		// }
		@media (min-width: ($mbpDesign + 0.1px)) {
			font-size: rem(15);
			line-height: rem(20);
		}
	}
	&__pictures {
		display: grid;
		gap: rem(36);
		grid-template-columns: repeat(auto-fill, minmax(rem(250), 1fr));
		@media (max-width: $mbpMobile) {
			gap: rem(30);
		}
	}
	&__img-wrap {
		grid-column: auto/span 1;
		grid-row: auto/span 1;
	}
	&__img-inner {
		position: relative;
		left: 0;
		top: 0;
		padding-top: 72%;
		> img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.outlet-card-ico {
	width: 18px;
	height: 18px;
	min-width: 18px;
	min-height: 18px;
	@media (min-width: ($mbpDesign + 0.1px)) {
		width: rem(18);
		height: rem(18);
		min-width: rem(18);
		min-height: rem(18);
	}
}
.outlet-location {
	flex: 1 1 rem(250);
	max-width: rem(250);
	display: flex;
	&__ico {
		fill: $--black;
		margin-right: rem(15);
	}
}
.outlet-schedule {
	flex: 1 1 rem(265);
	max-width: rem(300);
	display: flex;
	&__ico {
		stroke: $--black;
		margin-right: rem(15);
	}
}
.outlet-schedule-period {
	display: flex;
	> dt {
		white-space: nowrap;
		margin-right: 0.5em;
	}
}
.outlet-contacts-list {
	flex: 1 1 rem(220);
	max-width: rem(250);
	display: flex;
	flex-direction: column;
	> * {
		margin-bottom: rem(15);
	}
	> *:last-child {
		margin-bottom: 0;
	}
}
.outlet-contact {
	display: flex;
	align-items: flex-start;
	transition: color 0.3s;
	&__ico {
		stroke: $--black;
		margin-right: rem(15);
		transition: stroke 0.3s;
	}
	&:hover {
		color: $--orange;
	}
	&:hover &__ico {
		stroke: $--orange;
	}
}
