.contacts {
	overflow-x: hidden;
	overflow-y: auto;
	&__products-slider {
		margin-bottom: rem(50);
		margin-right: calc(var(--block-width) / 960 * rem(-70));
	}
	&__list {
		margin-bottom: rem(42);
	}
	&__item {
		margin-bottom: rem(32);
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.product-overview-card {
	&__inner {
		position: relative;
		left: 0;
		top: 0;
		padding-top: 80%;
		> img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: bottom center;
		}
		> svg {
			position: absolute;
			right: rem(12);
			top: rem(15);
			width: rem(19);
			height: rem(19);
			fill: $--white;
		}
	}
}
.contact-link {
	display: inline-flex;
	align-items: center;
	@media (max-width: 340px) {
		gap: 10px;
		flex-wrap: wrap;
	}
	&__desc {
		display: inline-block;
		font-size: rem(32);
		font-weight: 400;
		line-height: rem(37);
		font-variation-settings: 'wdth' 100;
		margin-right: rem(14);
	}
	&__contact {
		position: relative;
		top: -0.8em;
		left: 0;
		display: inline-block;
		font-size: rem(20);
		line-height: rem(32);
		@media (max-width: $mbpSmallMobile) {
			font-size: 15px;
			line-height: 21px;
		}
	}
}
.partnership {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: rem(30);
	> * {
		flex: 0 1 auto;
	}
}
