.cart {
	&__container {
		@media (max-width: $mbpTablet) {
			padding-top: 140px;
		}
		@media (max-width: $mbpMobile) {
			padding-top: 100px;
		}
	}
	&__title {
		@media (max-width: $mbpSmallMobile) {
			margin-bottom: 40px;
		}
		@media (max-width: $mbpSmallMobile) {
			display: none;
		}
	}
	&__count {
		font-size: rem(40);
		margin-bottom: rem(20);
		@media (max-width: $mbpMobile) {
			font-size: 32px;
		}
		@media (max-width: $mbpSmallMobile) {
			font-size: 24px;
		}
	}
	&__body {
		margin-bottom: rem(20);
	}
	&__footer {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: flex-end;
	}
	&__outside-footer-area {
		display: none;
		position: fixed;
		left: 50%;
		bottom: 0;
		max-width: 460px;
		background-color: $--white;
		padding: 35px 45px;
		z-index: 2;
		&.active {
			display: block;
		}
		@media (min-width: ($mbpDesign + 0.1px)) {
			max-width: rem(460);
			padding: rem(35) rem(45);
		}
	}
	&__footer-link {
		display: none;
		position: fixed;
		right: 0;
		bottom: 80px;
		background-color: $--white;
		border-top-width: 1px;
		border-left-width: 1px;
		border-color: $--darkGray;
		border-style: solid;
		z-index: 2;
		&.active {
			display: flex;
		}
		@media (min-width: ($mbpTablet + 0.1px)) {
			display: none;
		}
		@media (max-width: 720px) {
			left: 0;
			bottom: 0;
			width: 100%;
			border-color: transparent;
			box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
		}
	}
	&__cart-summary {
		width: 100%;
		max-width: 370px;
		margin-bottom: rem(25);
		@media (min-width: ($mbpDesign + 0.1px)) {
			max-width: rem(370);
		}
	}
	&__submit-btn {
		align-self: stretch;
		margin-bottom: rem(35);
	}
	&__quick-order-remark {
		align-self: flex-start;
		font-size: 18px;
		line-height: 1.65;
		@media (min-width: ($mbpDesign + 0.1px)) {
			font-size: rem(18);
		}
	}
}
.cart-summary {
	display: flex;
	flex-direction: column;
	gap: rem(9);
	font-weight: 300;
	> * {
		display: flex;
		flex-wrap: wrap;
		gap: rem(5) rem(15);
		justify-content: space-between;
	}
	&_link {
		@media (min-width: (720.1px)) and (max-width: $mbpTablet) {
			width: 100%;
		}
	}
	& dt {
		font-size: 15px;
		line-height: 1.35;
		color: $--darkGray;
		@media (min-width: ($mbpDesign + 0.1px)) {
			font-size: rem(15);
		}
	}
	&__value {
		font-size: 18px;
		line-height: 1.65;
		@media (min-width: ($mbpDesign + 0.1px)) {
			font-size: rem(18);
		}
	}
	&__discount {
		color: $--orange;
	}
	&__total {
		display: flex;
		align-items: flex-end;
	}
	&__total-value {
		font-size: 24px;
	}
}
.footer-link {
	flex-direction: column;
	align-items: center;
	gap: 26px;
	min-width: 55%;
	padding: 35px 45px;
	@media (max-width: 720px) {
		flex-direction: row;
		justify-content: space-between;
		padding: 15px 10px;
	}
	&__btn {
		width: 100%;
		padding: 13px 25px 12px;
		@media (max-width: 720px) {
			font-size: 15px;
			line-height: 20px;
			max-width: 165px;
		}
	}
}