@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "../../base/mixins";

// Подключение темы (набор цветов)
@import "../../theme.scss";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин

// Подключить если есть локальные файлы шрифтов
//@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
//@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Настройки шаблона ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Open Sans";
$fontSize: 16; // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #000; // Цвет шрифта по умолчанию

// Настройки адаптивной сетки =h==============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 280;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 0;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 0;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты без единиц измерения
$mbpDesignNu: $maxWidth;
$mbpFullHdPcNu: 1899;
$mbpLargePcNu: 1639; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$mbpMediumPcNu: 1359; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$mbpPcNu: 1199; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$mbpTabletNu: 991.98; // Планшеты, некоторые телефоны в горизонтальном положении
$mbpMobileNu: 767.98; // Телефоны L
$mbpSmallMobileNu: 479.98; // Телефоны S


// Брейк-поинты
$mbpDesign: px($mbpDesignNu);
$mbpFullHdPc: px($mbpFullHdPcNu);
$mbpLargePc: px($mbpLargePcNu); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$mbpMediumPc: px($mbpMediumPcNu); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$mbpPc: px($mbpPcNu); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$mbpTablet: px($mbpTabletNu); // Планшеты, некоторые телефоны в горизонтальном положении
$mbpMobile: px($mbpMobileNu); // Телефоны L
$mbpSmallMobile: px($mbpSmallMobileNu); // Телефоны S
$mbpMinWidth: px($minWidth); // Телефоны S

// Брейк-поинты для совместимости
$design: px($maxWidth);
$pcFullHd: px(1899);
$pcLarge: px(1639); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$pcMedium: px(1359); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$pc: px(1199); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: px(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: px(767.98); // Телефоны L
$mobileSmall: px(479.98); // Телефоны S

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнуление ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "../../base/null";

// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
html {
	height: 100%;
	font-size: $fontSize + 0px;
	// @media (min-width: $mbpTablet) {
	// 	font-size: calc(100vw / $maxWidth * $fontSize);
	// }
}
body {
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
	max-width: 100%;
	// Сайт загружен
	.loaded & {
	}
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================
[class*="__container"] {
	padding: 0 rem(50);
	@media (min-width: $mbpSmallMobile) and (max-width: $mbpTablet) {
		padding-left: aval(10, 50, 0, $mbpSmallMobileNu, $mbpTabletNu);
		padding-right: aval(10, 50, 0, $mbpSmallMobileNu, $mbpTabletNu);
	}
	@media (max-width: $mbpSmallMobile) {
		padding-left: rem(10);
		padding-right: rem(10);
	}
}
// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "../../base";
@import "../../common.scss";

// Подключение стилей общих элементов проекта
@import "../../drawers.scss";
@import "../../header.scss";
@import "../../footer.scss";

// Подключение стилей отдельных блоков
@import "./page.scss";
@import "./content.scss";
@import "./gallery.scss";