.drawer-palette {
	&__group {
		margin-bottom: rem(45);
		@media screen and (min-width: $mbpSmallMobile) and (max-width: $mbpDesign) {
			margin-bottom: aval(33, 45);
		}
		@media screen and (max-width: $mbpSmallMobile) {
			margin-bottom: rem(33);
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__group-name {
		font-size: rem(24);
		font-weight: 300;
		line-height: rem(32);
		letter-spacing: 0em;
		margin-bottom: rem(20);
		@media screen and (min-width: $mbpSmallMobile) and (max-width: $mbpDesign) {
			font-size: aval(20, 24);
			margin-bottom: aval(10, 20);
		}
		@media screen and (max-width: $mbpSmallMobile) {
			font-size: rem(20);
			margin-bottom: rem(10);
		}
	}
	&__table-list {
		display: flex;
		flex-wrap: wrap;
		margin: rem(-15) rem(-15);
		@media screen and (min-width: $mbpSmallMobile) and (max-width: $mbpDesign) {
			margin: rem(-15) aval(-10, -15);
		}
		@media screen and (max-width: $mbpSmallMobile) {
			margin: rem(-15) rem(-10);
		}
	}
	&__item {
		flex: 0 0 calc(100% / 3);
		padding: rem(15);
		@media (max-width: 360px) {
			flex: 0 0 50%;
		}
	}
	&__item-inner {
		display: block;
	}
}
.drawer-palette-card {
	display: block;
	width: 100%;
	text-align: left;
	cursor: pointer;
	& > input {
		display: none;
	}
	&__body {
		display: block;
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		padding: 68.21% 0;
		margin-bottom: rem(17);
		overflow: hidden;
		@media screen and (min-width: $mbpSmallMobile) and (max-width: $mbpDesign) {
			margin-bottom: aval(7, 17);
		}
		@media screen and (max-width: $mbpSmallMobile) {
			margin-bottom: rem(7);
		}
	}
	&_form &__body {
		padding: 54.39% 0;
	}
	&__img {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 100%;
		height: auto;
		object-fit: cover;
		transform: translate(-50%, -50%);
		transition: width 0.3s, max-width 0.3s, max-height 0.3s;
		&_shape {
			object-fit: contain;
			max-width: 90%;
			max-height: 90%;
		}
		
	}
	&:hover &__img {
		width: 110%;
	}
	&:hover &__img_shape {
		max-width: 100%;
		max-height: 100%;
	}
	&__name {
		font-size: 15px;
		font-weight: 300;
		line-height: 21px;
		letter-spacing: 0em;
		transition: color 0.3s;
		text-transform: uppercase;
		@media (min-width: ($mbpDesign + 0.1px)) {
			font-size: rem(15);
			line-height: rem(21);
		}
	}
	&:hover &__name {
		color: $--orange;
	}
}
