.filters-group {
	&_horizontal {
		display: inline-flex;
		margin-bottom: 0;
	}
	&_horizontal-space-between {
		justify-content: space-between;
	}
	&_mob-horizontal {
		@media (max-width: $mbpMobile) {
			display: inline-flex;
		}
	}
	&:last-child {
		margin-bottom: 0;
	}
	&__header {
		display: flex;
		align-items: flex-start;
		margin-bottom: 20px;
		&_ends-with-colon {
			&::after {
				content: ":";
			}
		}
		&_mob-ends-with-colon {
			@media (max-width: $mbpMobile) {
				&::after {
					content: ":";
				}
			}
		}
	}
	&_mob-horizontal &__header {
		@media (max-width: $mbpMobile) {
			margin-bottom: 0;
			margin-right: rem(5);
		}
	}
	&_horizontal &__header {
		margin-bottom: 0;
		margin-right: rem(5);
	}
	&__name {
		font-size: 15px;
		font-weight: 700;
		line-height: 20px;
		text-transform: uppercase;
	}
	&__body {
	}
}
.filter-options-list {
	display: flex;
	&_vertical {
		flex-direction: column;
		margin-right: 0;
	}
	&_vertical &__option {
		margin-bottom: 20px;
		@media (min-width: ($mbpDesign + 0.1px)) {
			margin-right: rem(20);
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	&_horizontal &__option {
		margin-right: 6px;
		@media (min-width: ($mbpDesign + 0.1px)) {
			margin-right: rem(6);
		}
		&:last-child {
			margin-right: 0;
		}
	}
}
.more-filters-btn {
	display: flex;
	align-items: center;
	&__caption {
		font-size: 15px;
		font-weight: 700;
		line-height: 20px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: $--orange;
		margin-right: 5px;
		@media (min-width: ($mbpDesign + 0.1px)) {
			font-size: rem(15);
			line-height: rem(20);
			margin-right: rem(5);
		}
	}
	&__icon {
		width: 13px;
		height: 6px;
		fill: transparent;
		stroke: $--orange;
		@media (min-width: ($mbpDesign + 0.1px)) {
			width: rem(13);
			height: rem(6);
		}
	}
}
.filters {
	&__label {
		font-size: 18px;
		line-height: 30px;
		text-transform: uppercase;
		@media (min-width: ($mbpDesign + 0.1px)) {
			font-size: rem(18);
			line-height: rem(30);
		}
	}
}
.filters-texture-option {
	cursor: pointer;
	&__input {
		display: none;
	}
	&__body {
		display: inline-flex;
    width: 28px;
    height: 28px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
		@media (min-width: ($mbpDesign + 0.1px)) {
			width: rem(28);
   		height: rem(28);
			border-width: rem(2);
		}
		&::after {
			content: "";
			display: inline-block;
			width: 100%;
			height: 100%;
			border: 2px solid white;
			border-radius: 50%;
			background-color: var(--color);
			@media (min-width: ($mbpDesign + 0.1px)) {
				border-width: rem(2);
			}
		}
	}
	&__input:checked + &__body {
		border-color: $--orange;
	}
}
.filter-option-select-btn {
	display: inline-flex;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	text-decoration: underline;
	text-underline-offset: 6px;
	text-decoration-style: dotted;
	text-align: left;
	vertical-align: middle;
	@media (min-width: ($mbpDesign + 0.1px)) {
		font-size: rem(15);
		line-height: rem(30);
	}
	&__caption {
		position: relative;
		left: 0;
		top: -0.5em;
		&::after {
			content: "";
			position: relative;
			height: 0;
			font-size: 0;
			border-top: 6px solid $--orange;
			border-left: 4.5px solid transparent;
			border-right: 4.5px solid transparent;
			margin-left: 5px;
			@media (min-width: ($mbpDesign + 0.1px)) {
				border-top-width: rem(6);
				border-left-width: rem(4.5);
				border-right-width: rem(4.5);
				margin-left: rem(5);
			}
		}
	}
}

