@import "../base/mixins";

// Background
// Typography
.underline {
	text-decoration: underline;
}
.tt-uppercase {
	text-transform: uppercase;
}
.color-orange {
	color: $--orange;
}
// Font weight
.fw-400 {
	font-weight: 400;
}
.fw-600 {
	font-weight: 600;
}
// Font size
.fz-32px {
	font-size: 32px;
	@media (min-width: ($mbpDesign + 0.1px)) {
		font-size: rem(32);
	}
}
// Line height
.lh-118 {
	line-height: 1.18;
}
//Grid

.gap-10 {
	gap: rem(10);
}
.gap-12 {
	gap: rem(12);
}
.gap-15 {
	gap: rem(15);
}
.gap-20 {
	gap: rem(20);
}
.gap-25 {
	gap: rem(25);
}
.gap-30 {
	gap: rem(30);
}
.gap-50 {
	gap: rem(50);
}
.gap-70 {
	gap: rem(70);
}
.gap-10-30 {
	gap: rem(10) rem(30);
}
.gap-20-15 {
	gap: rem(15) rem(20);
}
// Flex
.flex-row {
	display: flex;
}
.flex-col {
	display: flex;
	flex-direction: column;
}
.flex-wrap {
	flex-wrap: wrap;
}
.align-center {
	align-items: center;
}
.align-self-center {
	align-self: center;
}
// Padding
.py-10 {
	padding-top: rem(10);
	padding-bottom: rem(10);
}
.py-12 {
	padding-top: rem(12);
	padding-bottom: rem(12);
}

.pt-13 {
	padding-top: rem(13);
}

.pb-12 {
	padding-bottom: rem(12);
}

//Margin
.mb-5 {
	margin-bottom: rem(5);
}
.mb-10 {
	margin-bottom: rem(10);
}
.mb-11 {
	margin-bottom: rem(11);
}
.mb-15 {
	margin-bottom: rem(15);
}
.mb-20 {
	margin-bottom: rem(20);
}
.mb-30 {
	margin-bottom: rem(30);
}
.mb-35 {
	margin-bottom: rem(35);
}
.mb-40 {
	margin-bottom: rem(40);
}
.mb-50 {
	margin-bottom: rem(50);
}
.mb-11px {
	margin-bottom: 11px;
	@media (min-width: ($mbpDesign + 0.1px)) {
		margin-bottom: rem(11);
	}
}
.mr-70 {
	margin-right: rem(70);
}
// Gap imitation
.gap-imit-15 {
	margin-left: rem(-15);
	margin-top: rem(-15);
	> * {
		margin-left: rem(15);
		margin-top: rem(15);
	}
}
.gap-imit-20 {
	margin-left: rem(-20);
	margin-top: rem(-20);
	> * {
		margin-left: rem(20);
		margin-top: rem(20);
	}
}
.gap-imit-25 {
	margin-left: rem(-25);
	margin-top: rem(-25);
	> * {
		margin-left: rem(25);
		margin-top: rem(25);
	}
}
// Width
.w-100p {
	width: 100%;
}
.mw-300 {
	min-width: rem(300);
}

//Height
.mh-70 {
	min-height: rem(70);
}

//Border
.border-bot-gray {
	border-bottom: rem(1) solid $--grayBg;
}

.border-top-gray {
	border-top: rem(1) solid $--grayBg;
}


// overflow
.overflow-y-auto {
	overflow-y: auto;
}

// Media
// Mobile
@media (max-width: $mbpMobile) {
	.mob-gap-30 {
		gap: 30px;
	}
}
// Small mobile
@media (max-width: $mbpSmallMobile) {
	.sm-hidden {
		display: none;
	}

	// Width 
	.sm-mw-240 {
		min-width: rem(240);
	}
	// Width 
	.sm-w-100p {
		width: 100%;
	}
	// Flex
	.sm-fd-col {
		flex-direction: column;
	}
	// Margin
	.sm-mb-40 {
		margin-bottom: 40px;
	}
}
// Tablet
@media (max-width: $mbpTablet) {
	.tablet-display-none {
		display: none;
	}

	.tablet-mb-40 {
		margin-bottom: 40px;
	}
	.mob-mb-30 {
		margin-bottom: 30px;
	}
}