.iti, .country-select {
	&__country-list, .country-list {
		top: calc(100% + rem(2));
		width: 100%;
		font-size: 15px;
		font-weight: 300;
		line-height: 1.3;
		background-color: $--inputBg;
		border-width: 0;
		@media (min-width: ($mbpDesign + 0.1px)) {
			font-size: rem(15);
		}
		//width: 100%;
		padding: 17px 15px 27px;
		box-shadow: 0px rem(4) rem(12) 0px #5C5C5C33;
	}
	&__country {
		min-height: 20px;
		padding: 0;
		margin-bottom: rem(17);
		transition: color 0.3s;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__highlight {
		&:hover {
			color: $--orange;
		}
	}
	&__country.iti__highlight {
		background-color: transparent;
	}
	&__flag-container {
		background-color: $--grayBg;
	}
	&__flag-box {
		margin-right: 35px;
		@media (min-width: ($mbpDesign + 0.1px)) {
			margin-right: rem(35);
		}
	}
	&__selected-flag {
		padding: 0 15px;
		background-color: $--grayBg;
		@media (min-width: ($mbpDesign + 0.1px)) {
			padding: 0 rem(15);
		}
	}
	&--allow-dropdown input,
	&--allow-dropdown input[type=tel],
	&--allow-dropdown input[type=text],
	&--separate-dial-code input,
	&--separate-dial-code input[type=tel],
	&--separate-dial-code input[type=text] {
		padding-right: 6px;
		padding-left: 80px;
		margin-left: 0;
		@media (min-width: ($mbpDesign + 0.1px)) {
			padding-right: rem(6);
			padding-left: rem(80);
		}
	}
	&__arrow {
		border-top-color: $--orange;
		margin-left: rem(10);
		&--up {
			border-bottom-color: $--orange;
		}
	}
}