.products-slider {
	position: relative;
	left: 0;
	top: 0;
	padding-bottom: rem(38);
	&_sm-col &__wrapper {
		@media (max-width: $mbpSmallMobile) {
			flex-direction: column;
		}
	}
	&__btn-prev, &__btn-next {
		position: absolute;
		top: 40%;
		transform: translateY(-50%);
		z-index: 15;
	}
	&__btn-prev {
		left: 0;
	}
	&__btn-next {
		right: rem(60);
	}
	&__scrollbar {
		position: absolute;
		bottom: 0;
		left: 0;
	}
}