.selected-product {
	display: grid;
	grid-template-columns: 95px 1fr auto;
	grid-template-rows: auto 1fr;
	grid-template-areas: "img name amount" "img price amount";
	padding: rem(5) 0;
	column-gap: rem(18.5);
	border-bottom: 1px solid $--grayBg;
	@media (min-width: ($mbpDesign + 0.1px)) {
		border-width: rem(1);
	}
	&:last-child {
		border-color: transparent;
	}
	@media (min-width: ($mbpDesign + 0.1px)) {
		grid-template-columns: rem(95) 1fr auto;
	}
	@media (max-width: 560px) {
		grid-template-columns: 75px 1fr auto;
	}
	&_removable {
		grid-template-columns: 95px 2.8fr auto 1fr 0.65fr;
		grid-template-rows: auto;
		grid-template-areas: "img name amount price delete";
		@media (min-width: ($mbpDesign + 0.1px)) {
			grid-template-columns: rem(95) 2.8fr auto 1fr 0.65fr;
		}
		@media (min-width: ($mbpTablet + 0.1px)) and (max-width: $mbpPc), (max-width: 620px) {
			grid-template-columns: 90px 1fr;
			grid-template-rows: auto auto 1fr;
			grid-template-areas: "img name delete" "img price delete" "img amount delete";
		}
	}
	&_cart {
		padding-top: 20px;
		padding-bottom: 20px;
		@media (min-width: ($mbpDesign + 0.1px)) {
			padding-top: rem(20);
			padding-bottom: rem(20);
		}
	}
	&_quick-cart {
		grid-template-columns: 95px 1fr 1fr auto;
		grid-template-rows: auto;
		grid-template-areas: "img name amount price";
		@media screen and (max-width: 560px) {
			grid-template-columns: 75px 1fr auto;
			grid-template-rows: auto auto;
			grid-template-areas: "img name amount" "img price amount";
		}
	}
	&__img-area {
		grid-area: img;
	}
	&__name {
		grid-area: name;
	}
	&_removable &__name {
		@media (min-width: ($mbpTablet + 0.1px)) and (max-width: $mbpPc), (max-width: 620px) {
			margin-bottom: 5px;
		}
	}
	&__amount-select-area {
		grid-area: amount;
		display: flex;
		justify-content: center;
		
		@media screen and (max-width: 560px) {
			justify-content: flex-start;
		}
	}
	&_removable &__amount-select-area {
		@media (min-width: ($mbpTablet + 0.1px)) and (max-width: $mbpPc), (max-width: 620px) {
			justify-content: flex-start;
			align-items: flex-end;
		}
	}
	&__img {
		height: 100%;
		width: 100%;
		object-fit: contain;
		object-position: center center;
	}
	&__name, &__price {
		font-size: 15px;
		line-height: 21px;
		@media (min-width: ($mbpDesign + 0.1px)) {
			font-size: rem(15);
			line-height: rem(21);
		}
	}
	&__name {
		font-weight: 300;
		color: $--darkGray;
		margin-bottom: rem(5);
	}
	&__price-area {
		grid-area: price;
		display: flex;
		justify-content: flex-end;
	}
	&_removable &__price-area {
		@media (min-width: ($mbpTablet + 0.1px)) and (max-width: $mbpPc), (max-width: 620px) {
			justify-content: flex-start;
		}
	}
	&__price {
		font-weight: 700;
		&_discounted {
			display: flex;
			flex-direction: column;
			color: $--orange;
		}
	}
	&_removable &__price_discounted {
		@media (min-width: ($mbpTablet + 0.1px)) and (max-width: $mbpPc), (max-width: 620px) {
			flex-direction: row;
			gap: 10px;
		}
	}
	&__old-price {
		font-size: 12px;
		line-height: 1.5;
		text-decoration: line-through;
		text-decoration-color: $--orange;
		color: $--black;
		@media (min-width: ($mbpDesign + 0.1px)) {
			font-size: rem(12);
		}
	}
	&__delete-btn-area {
		grid-area: delete;
		display: flex;
		justify-content: flex-end;
		@media (min-width: ($mbpTablet + 0.1px)) and (max-width: $mbpPc), (max-width: 620px) {
			align-items: flex-end;
		}
	}
	&__delete-btn {
		width: 16px;
		height: 17px;
		stroke: $--black;
		opacity: 0.5;
		transition: stroke 0.3s;
		@media (min-width: ($mbpDesign + 0.1px)) {
			width: rem(16);
			height: rem(17);
		}
		&:hover {
			stroke: $--orange;
		}
	}
}
.amount-select {
	display: flex;
	//height: 100%;
	&_foldable {
		@media screen and (max-width: $mbpSmallMobile) {
			display: grid;
			grid-template-columns: auto auto;
			grid-template-rows: 1fr 1fr;
			grid-template-areas: "input inc" "input dec";
			align-items: center;
		}
	}
	&__btn {
		position: relative;
		display: inline-block;
		width: 30px;
		height: 30px;
		background-color: $--orange;
		@media (min-width: ($mbpDesign + 0.1px)) {
			width: rem(30);
			height: rem(30);
		}
		@media (max-width: $mbpSmallMobile) {
			width: 25px;
			height: 25px;
		}
		&:hover {
			opacity: 0.85;
		}
		&_inc {
			@media screen and (max-width: $mbpSmallMobile) {
				grid-area: inc;
			}
			&:before {
				content: "";
				position: absolute;
				left: calc(50% - rem(6));
				top: calc(50% - rem(0.75));
				width: rem(12);
				height: rem(1.5);
				background-color: $--white;
			}
			&:after {
				content: "";
				position: absolute;
				left: calc(50% - rem(0.75));
				top: calc(50% - rem(6));
				width: rem(1.5);
				height: rem(12);
				background-color: $--white;
				transition: transform 0.3s;
			}
		}
		&_dec {
			@media screen and (max-width: $mbpSmallMobile) {
				grid-area: dec;
			}
			&:before {
				content: "";
				position: absolute;
				left: calc(50% - rem(6));
				top: calc(50% - rem(0.75));
				width: rem(12);
				height: rem(1.5);
				background-color: $--white;
			}
		}
	}
	&__input {
		-moz-appearance: textfield;
		display: inline-block;
		width: 64px;
		height: 30px;
		text-align: center;
		@media (min-width: ($mbpDesign + 0.1px)) {
			width: rem(64);
			height: rem(30);
		}
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
		}
		@media screen and (max-width: $mbpSmallMobile) {
			grid-area: input;
			width: 36px;
			height: 25px;
		}
	}
}