.tabs {
	&__controls {
	}
	&__select {
	}
	&__panels-group {
		position: relative;
		left: 0;
		top: 0;
	}
	&__panel {
		position: absolute;
		top: rem(50);
		left: 0;
		width: 100%;
		min-height: 100%;
		visibility: hidden;
		opacity: 0;
		transition: visibility 0.3s, opacity 0.3s, top 0.3s;
		&.active {
			position: relative;
			top: 0;
			visibility: visible;
			opacity: 1;
		}
	}
}