.with-tooltip {
	position: relative;
	left: 0;
	top: 0;
	&:after {
		content: attr(data-to-clipboard);
		position: absolute;
		top: calc(100% + 10px);
		left: 0;
		font-size: rem(18);
		font-weight: 300;
		line-height: rem(30);
		color: $--black;
		background-color: $--white;
		padding: rem(15);
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s, visibility 0.3s;
		box-shadow: 0 0 rem(10) rgba($color: $--black, $alpha: 0.3);
		z-index: 10;
	}
	&_visible:after {
		opacity: 0.95;
		visibility: visible;
	}
}