.catalogue {
	&__header {
		position: relative;
		margin-bottom: rem(52);
		@media screen and (min-width: $mbpSmallMobile) and (max-width: $mbpDesign) {
			margin-bottom: aval(37, 52);
		}
		@media screen and (max-width: $mbpSmallMobile) {
			margin-bottom: rem(37);
		}
	}
	&__toolbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: rem(20);

	}
	&__open-filter-btn-area {
		display: none;
		justify-content: center;
		margin-bottom: rem(20);
		@media screen and (max-width: $mbpTablet) {
			display: flex;
			margin-bottom: 26px;
		}
	}
	&__products-count {
		display: flex;
		align-items: center;
		font-size: rem(24);
		font-weight: 300;
		line-height: rem(32);
		@media screen and (min-width: $mobileSmall) and (max-width: $design) {
			font-size: aval(15, 24);
			line-height: aval(21, 32);
		}
		@media screen and (max-width: $mobileSmall) {
			font-size: 15px;
			line-height: 21px;
		}
	}
	&__order-select {
	}
	&__body {
		margin-bottom: rem(75);
		@media screen and (min-width: $mobileSmall) and (max-width: $design) {
			margin-bottom: aval(50, 75);
		}
		@media screen and (max-width: $mobileSmall) {
			margin-bottom: rem(50);
		}
	}
	&__no-products {
	}
	&__no-products-text {
		font-size: rem(38);
		font-weight: 300;
		line-height: rem(44.53);
		@media screen and (min-width: $mobileSmall) and (max-width: $design) {
			font-size: aval(24, 38);
			line-height: aval(28.13, 44.53);
		}
		@media screen and (max-width: $mobileSmall) {
			font-size: rem(24);
			line-height: rem(28.13);
		}
	}
	&__footer {
	}
	&__pagination {
	}
}
.applied-filters {
	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: rem(-5);
	}
	&__item {
		display: inline-flex;
		align-items: center;
		border-radius: 20px;
		color: $--white;
		background-color: $--blackBtnBg;
		margin: 5px;
		padding: 2px 9px 2px 8px;
		@media (min-width: ($mbpDesign + 0.1px)) {
			border-radius: rem(20);
			margin: rem(5);
			padding: rem(2) rem(9) rem(2) rem(8);
		}
		&_clear {
			color: $--black;
			background-color: $--grayBg;
		}
	}
	&__item-caption {
		font-size: 15px;
		font-weight: 300;
		line-height: 21px;
		margin-right: rem(8);
		@media (min-width: ($mbpDesign + 0.1px)) {
			font-size: rem(15);
			line-height: rem(21);
		}
	}
	&__item-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 15px;
		height: 15px;
		background-color: $--white;
		border-radius: 50%;
		@media (min-width: ($mbpDesign + 0.1px)) {
			width: rem(15);
			height: rem(15);
		}
	}
	&__item_clear &__item-btn {
		background-color: $--blackBtnBg;
	}
	&__item-btn-icon {
		fill: $--blackBtnBg;
		width: 9px;
		@media (min-width: ($mbpDesign + 0.1px)) {
			width: rem(9);
		}
	}
	&__item_clear &__item-btn-icon {
		fill: $--white;
	}
	&__item_clear {
		display: none;
	}
	&__item + &__item_clear {
		display: flex;
	}
}
.option-select {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: relative;
	&__field {
		position: relative;
		font-size: 15px;
		font-weight: 700;
		line-height: 32px;
		letter-spacing: 0.05em;
		text-align: right;
		text-transform: uppercase;
		padding: rem(8) rem(19) rem(8) rem(8);
		transition: color 0.3s;
		cursor: pointer;
		@media (min-width: ($mbpDesign + 0.1px)) {
			font-size: rem(15);
			line-height: rem(32);
		}
		@media (max-width: $mbpMobile) {
			font-size: 12px;
			line-height: 16px;
		}
		&::after {
			content: "";
			display: inline-block;
			position: absolute;
			right: 0;
			top: 50%;
			height: 0;
			width: 0;
			border-top: rem(6) solid $--orange;
			border-left: rem(4.5) solid transparent;
			border-right: rem(4.5) solid transparent;
			border-bottom: 0 solid transparent;
			transform: translateY(-50%);
		}
		
		&:hover {
			color: $--orange;
		}
	}
	&_open &__field::after {
		border-top: 0 solid transparent;
		border-left: rem(4.5) solid transparent;
		border-right: rem(4.5) solid transparent;
		border-bottom: rem(6) solid $--orange;
	}
	&__options {
		display: none;
		justify-content: center;
		align-items: center;
		position: absolute;
		right: 0;
		top: 100%;
		z-index: 185;
		.touch & {
			@media screen and (max-width: $mobile) {
				position: fixed;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.3);
			}
		}
	}
	&_open &__options {
		display: flex;
	}
	&__options-wrapper {
		background-color: $--white;
		box-shadow: 0px rem(4) rem(12) 0px #5C5C5C40;
	}
	&__options-list {
		display: flex;
		flex-direction: column;
	}
	&__option {
	}
	&__option-label {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-width: rem(300);
		border-bottom: rem(1) solid $--grayBg;
		padding: rem(15) rem(20);
		cursor: pointer;
		&:last-child {
			border-bottom: none;
		}
	}
	&__option-radio {
		display: none;
	}
	&__option-name {
		font-size: 15px;
		font-weight: 300;
		line-height: 21px;
		letter-spacing: 0em;
		color: $--gray;
		@media (min-width: ($mbpDesign + 0.1px)) {
			font-size: rem(15);
			line-height: rem(21);
		}
	}
	&__option_active &__option-name, &__option:hover &__option-name {
		color: $--black;
	}
	&__option-indicator {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		position: relative;
		width: 15px;
		min-width: 15px;
		height: 15px;
		min-height: 15px;
		border-radius: 50%;
		border: 1px solid $--gray;
		@media (min-width: ($mbpDesign + 0.1px)) {
			width: rem(15);
			min-width: rem(15);
			height: rem(15);
			min-height: rem(15);
			border-width: rem(1);
		}
		& > span {
			display: inline-block;
			width: 9px;
			min-width: 9px;
			height: 9px;
			min-height: 9px;
			border-radius: 50%;
			background-color: $--gray;
			@media (min-width: ($mbpDesign + 0.1px)) {
				width: rem(9);
				min-width: rem(9);
				height: rem(9);
				min-height: rem(9);
			}
		}
	}
	&__option_active &__option-indicator {
		border: rem(1) solid $--orange;
	}
	&__option_active &__option-indicator > span {
		background-color: $--orange;
	}
}
.clear-filters-btn-inline {
	position: relative;
	display: inline-block;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	&::after {
		content: "";
		position: absolute;
		left: 50%;
		bottom: 0;
		width: 100%;
		height: rem(1);
		opacity: 0.7;
		background-color: $--black;
		transition: 0.3s width;
		transform: translateX(-50%);
	}
	&:hover::after {
		width: 0;
	}
}
.catalogue-grid {
	overflow: hidden;
	&__inner {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(205px, 1fr));
		gap: 40px 20px;
		@media (min-width: ($mbpDesign + 0.1px)) {
			grid-template-columns: repeat(auto-fill, minmax(rem(265), 1fr));
			gap: rem(40) rem(20);
		}
		@media (min-width: $mbpTablet) and (max-width: $mbpPc) {
			grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		}
		@media (max-width: $mbpMobile) {
			grid-template-columns: 1fr 1fr;
			gap: 30px 10px;
		}
	}
	&__item {
		grid-column: auto/span 1;
		grid-row: auto/span 1;
	}
}
.product-card {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	&__top {
		display: block;
		position: relative;
		width: 100%;
		background-color: $--grayBg;
		padding-bottom: 131.48%;
		margin-bottom: rem(22);
		overflow: hidden;
		@media screen and (min-width: $mobileSmall) and (max-width: $design) {
			margin-bottom: aval(15, 22);
		}
		@media screen and (max-width: $mobileSmall) {
			margin-bottom: rem(15);
		}
	}
	&__top-inner {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	&__image {
		position: relative;
		left: 50%;
		top: 50%;
		width: 100%;
		height: auto;
		transform: translate(-50%, -50%);
		transition: width 0.3s;
		mix-blend-mode: multiply;
		
	}
	&__top:hover &__image {
		width: 115%;
	}
	&__product-dimensions {
		position: absolute;
		left: 0;
		bottom: rem(-6);
		font-size: rem(32);
		font-weight: 300;
		line-height: rem(37.5);
		background-color: $--white;
		padding: rem(2) rem(10) 0 0;
		@media screen and (min-width: $mobileSmall) and (max-width: $design) {
			font-size: aval(15, 32);
			line-height: aval(21, 37.5);
			bottom:  aval(-6, -3);
		}
		@media screen and (max-width: $mobileSmall) {
			font-size: 15px;
			line-height: 21px;
			bottom: -3px;
		}
	}
	&__middle {
		flex: 1 0 auto;
		margin-bottom: rem(30);
		@media screen and (min-width: $mobileSmall) and (max-width: $design) {
			margin-bottom: aval(10, 30);
		}
		@media screen and (max-width: $mobileSmall) {
			margin-bottom: 10px;
		}
	}
	&__detail {
		font-size: 15px;
		font-weight: 300;
		line-height: 21px;
		color: $--darkGray;
		margin-bottom: rem(5);
		@media (min-width: ($mbpDesign + 0.1px)) {
			font-size: rem(15);
			font-weight: 300;
			line-height: rem(21);
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__detail-name {
		display: inline-block;
		margin-right: 0.5em;
		&::after {
			content: ":";
		}
	}
	&__detail-value {
		display: inline-block;
		text-transform: uppercase;
	}
	&__product-name {
		display: none;
		flex: 0 0 100%;
		font-size: rem(15);
		font-weight: 300;
		line-height: rem(21);
		letter-spacing: 0em;
		color: $--darkGray;
	}
	&__bottom {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: rem(10);
	}
	&__bottom-block {
		flex: 0 0 120px;
		@media (min-width: ($mbpDesign + 0.1px)) {
			flex: 0 0 rem(120);
		}
	}
	&__avail-status {
		font-size: rem(15);
		line-height: rem(32);
		font-weight: 600;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		margin-bottom: rem(7);
		&.warehouse {
			color: $--orange;
		}
		&.on-order {
			color: $--error;
		}
		@media screen and (min-width: $mobileSmall) and (max-width: $design) {
			font-size: 15px;
			line-height: 32px;
			margin-bottom: aval(7, 0);
		}
		@media screen and (max-width: $mobileSmall) {
			font-size: 12px;
			line-height: 14px;
			margin-bottom: rem(0);
		}
	}
	&__price {
		font-weight: 700;
		font-size: rem(24);
		line-height: rem(21);
		@media screen and (min-width: $mobileSmall) and (max-width: $design) {
			font-size: aval(20, 24);
			line-height: aval(21, 32);
		}
		@media screen and (max-width: $mobileSmall) {
			font-size: 20px;
			line-height: 32px;
		}
		&:after {
			content: attr(data-currency);
		}
	}
	&__btn {
		flex: 1 0 auto;
		align-self: flex-end;
		//max-width: 130px;
		padding: rem(12) rem(12);
		// @media (min-width: ($mbpDesign + 0.1px)) {
		// 	max-width: rem(130);
		// }
		// @media screen and (max-width: $mbpLargePc) {
		// 	flex: 0 0 100%;
		// }
		@media screen and (max-width: $mbpMobile) {
			display: none;
		}
	}
}
.pagination {
	display: flex;
	justify-content: center;
	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		height: rem(40);
		width: rem(40);
		background-color: $--white;
		border-radius: 50%;
		border: rem(1.5) solid $--white;
		margin-right: rem(10);
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			background-color: $--grayBg;
		}
		&_active {
			border: rem(1.5) solid $--black;
		}
	}
	&__btn-inner {

	}
	&__btn-caption {
	}
}
.open-filter-btn {
	//max-width: rem(300);
	width: 100%;
	font-size: 18px;
	line-height: 30px;
	padding: 10px 20px;
	&__icon {
		width: 22px;
		margin-left: 18px;
		stroke: $--white;
		fill: $--orange;
	}
	&__icon-wrapper {
		position: relative;
	}
	&__counter {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		right: -4px;
		top: -4px;
		width: 15px;
		height: 15px;
		font-size: 8px;
		font-weight: 500;
		line-height: 14px;
		letter-spacing: 0em;
		color: $--orange;
		background-color: $--white;
		border-radius: 50%;
		&:empty {
			display: none;
		}
	}
}