.search-control {
	display: flex;
	flex-direction: column;
	position: relative;
	left: 0;
	top: 0;
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-width: rem(220);
		border: rem(1) solid transparent;
		background-color: $--inputBg;
		padding: rem(18) rem(20);
		&.focus {
			border-color: $--orange;
		}
	}
	&__input {
		display: inline-block;
		width: 100%;
		font-size: rem(15);
		font-weight: 300;
		line-height: rem(18);
		letter-spacing: 0em;
		background-color: inherit;
		margin-right: rem(10);
		&::placeholder {
			color: $--gray;
		}
		&::-ms-input-placeholder {
			color: $--gray;
		}
	}
	&__separator {
		height: rem(18);
		width: rem(1);
		background-color: $--grayBg;
		margin-right: rem(9);
	}
	&__reset-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		height: rem(15);
		min-width: rem(15);
		border-radius: 50%;
		background-color: $--grayBg;
		margin-right: rem(12);
	}
	&__search-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		height: rem(20);
		width: rem(20);
	}
	&__reset-icon {
		height: rem(7);
		width: rem(7);
	}
	&__search-icon {
		height: rem(16.25);
		width: rem(16.79);
	}
	&__predictions-list {
		display: flex;
		flex-direction: column;
		position: absolute;
		left: 0;
		top: calc(100% + rem(10));
		width: 100%;
		background-color: $--white;
		box-shadow: 0px rem(4) rem(12) 0px rgba($color: $--darkGray, $alpha: 0.4);
		padding: rem(15) rem(20);
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s, visibility 0.3s;
		z-index: 1;
		&.show {
			opacity: 1;
			visibility: visible;
		}
	}
	&__prediction-item {
	}
	&__prediction-btn {
		display: inline-block;
		width: 100%;
		height: 100%;
		font-size: rem(15);
		font-weight: 300;
		line-height: rem(21);
		letter-spacing: 0em;
		text-align: left;
		text-decoration: underline;
		text-decoration-color: transparent;
		text-underline-offset: rem(3);
		padding: rem(10) 0;
		transition: text-decoration-color 0.3s;
		& > mark {
			font-weight: 500;
		}
		&:hover {
			text-decoration-color: $--black;
		}
	}
}
.double-range-select {
	display: flex;
	position: relative;
	padding: rem(10) 0;
	& > input[type="range"] {
		-webkit-appearance: none;
		appearance: none;
		height: rem(4);
		width: 100%;
		pointer-events: none;
		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			width: rem(18);
			height: rem(18);
			background-color: $--orange;
			border-radius: 50%;
			cursor: pointer;
			pointer-events: all;
			@media screen and (max-width: $mbpMobile) {
				width: rem(24);
				height: rem(24);
			}
		}
		&::-moz-range-thumb {
			appearance: none;
		}
		&::-ms-thumb {
			appearance: none;
		}
	}
	&__range-from {
		background-color: $--gray;
	}
	&__range-to {
		position: relative;
		left: -100%;
		background: transparent;
		margin-right: -100%;
	}
}
.value-multi-input {
	&__title {
		font-size: 15px;
		font-weight: 700;
		line-height: 20px;
		letter-spacing: 0.05em;
		margin-bottom: rem(20);
		@media (min-width: ($mbpDesign + 0.1px)) {
			font-size: rem(15);
			line-height: rem(20);
		}
	}
	&__range-select {
		margin-bottom: rem(15);
	}
	&__direct-inputs {
		display: flex;
		margin: 0 rem(-4.5);
		overflow: hidden;
	}
	&__direct-input-field {
		flex: 1 1 50%;
		padding: 0 rem(4.5);
	}
	&__direct-input-inner {
		display: flex;
		width: 100%;
		font-size: 15px;
		font-weight: 300;
		line-height: 21px;
		letter-spacing: 0em;
		text-align: left;
		border: 1px solid $--darkGray;
		padding: 4px 6px 4px;
		@media (min-width: ($mbpDesign + 0.1px)) {
			font-size: rem(15);
			line-height: rem(21);
			padding: rem(4) rem(6) rem(4);
			border-width: rem(1);
		}
		&.focus {
			border-color: $--orange;
		}
		& > input {
			display: inline-block;
			flex: 1 1 auto;
			width: 100%;
		}
	}
	&__direct-input-caption {
		display: inline-block;
	}
	&__value-from {
	}
	&__value-to {
	}
}
.sliding-checkbox {
	display: flex;
	width: rem(45);
	border-radius: rem(18);
	border: rem(4) solid $--gray;
	border-left: rem(5) solid $--gray;
	background-color: $--gray;
	background-image: linear-gradient(90deg, $--orange 0%, $--orange 50%, $--gray 50%, $--gray 100%);
	background-size: 150%;
	background-position: rem(-18);
	padding-left: 0;
	transition: padding-left 0.3s, background-position 0.3s;
	cursor: pointer;
	&.checked {
		border-color: $--orange;
		border-top-color: $--orange;
		background-position: 0;
		padding-left: rem(16.5);
	}
	&__input {
		-webkit-appearance: none;
		appearance: none;
		width: rem(22);
		height: rem(22);
		border-radius: 50%;
		background-color: $--white;
		margin: rem(-1);
		cursor: pointer;
	}
}
.products-filter-form {
	display: flex;
	flex-direction: column;
	padding: rem(50) rem(45);
	@media (max-width: $mbpTablet) {
		padding: 25px 20px;
	}
	@media (max-width: $mbpMobile) {
		padding: 25px 11px;
	}
	&__search {
		margin-bottom: rem(50);
		@media screen and (max-width: $mbpMobile) {
			display: none;
		}
	}
}
.store-filter {
	&__option-select-btn {
		@media (min-width: ($mbpMobile + 1px)) {
			display: none;
		}
	}
}
.disclosure {
	&__body {
		opacity: 0;
		visibility: hidden;
		max-height: 0;
		transition: margin-bottom 0.3s, opacity 0.5s, visibility 0.5s;
		& > * {
			margin-bottom: rem(20);
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&.checked &__body {
		opacity: 1;
		visibility: visible;
		max-height: initial;
		padding-top: rem(20);
	}
}