.filters-drawer {
	&__panel {
		@media (max-width: $mbpTablet) {
			max-width: 310px;
			@media (max-width: $mbpSmallMobile) {
				max-width: 100%;
			}
		}
	}
	&__header {
		padding: 0 30px;
		@media (max-width: $mbpTablet) {
			padding: 0 20px;
		}
		@media (max-width: $mbpMobile) {
			padding: 0 11px;
		}
	}
	&__body {
		padding: 0;
	}
}