.desc-filters {
	display: inline-flex;
	height: 100%;
	&__panel {
		position: absolute;
		right: 100%;
		top: 0;
		display: inline-flex;
		min-width: 250px;
		max-width: 310px;
		height: 100%;
		visibility: hidden;
		transition: visibility 0.3s;
		@media (min-width: ($mbpDesign + 0.1px)) {
			min-width: rem(250);
			max-width: rem(310);
		}
	}
	// &__panel {
	// 	overflow-x: hidden;
	// 	overflow-y: auto;
	// }
	&__inner {
		position: relative;
		right: -100%;
		top: 0;
		background-color: $--white;
		max-height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		transition: right 0.3s;
	}
	&.open &__panel {

		visibility: visible;
	}
	&.open &__inner {
		right: 0;
	}
	&__switch {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: rem(80);
		height: 100%;
		font-family: Open Sans;
		font-size: 24px;
		font-weight: 300;
		line-height: 32px;
		text-align: left;
		writing-mode: vertical-lr;
		background-color: $--white;
		border-left: rem(1) solid $--gray;
		border-right: rem(1) solid $--gray;
		transform: rotate(180deg);
		cursor: pointer;
		&::before {
			content: "";
			display: inline-block;
			border-top: rem(7) solid transparent;
			border-right: rem(7) solid $--orange;
			border-bottom: rem(7) solid transparent;
			border-left: 0 solid transparent;
			margin-bottom: rem(10);
			transition: transform 0.3s;
		}
		&.active::before {
			transform: rotateY(180deg);
		}
		@media (min-width: ($mbpDesign + 0.1px)) {
			font-size: rem(24);
			font-weight: 300;
			line-height: rem(32);
		}
	}
}

.main-gallery {
	&__slide {
		& > img {
			@media (max-width: $mbpMobile) {
				object-position: bottom center;
			}
		}
	}
	&__next-btn {
		@media (min-width: ($mbpTablet + 0.1px)) {
			right: rem(110);
		}
	}
}
.main-gallery {
	position: relative;
	left: 0;
	top: 0;
	&__filters {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 2;
		@media (max-width: $mbpTablet) {
			display: none;
		}
	}
}