<footer class="footer @@style" itemscope itemtype="http://schema.org/WPFooter">
	<div class="footer__container">
		<div class="footer__inner">
			<div class="footer__body">
				<div class="footer__logo-wrap">
					<a href="#" class="logo footer__logo">
						<figure >
							<svg viewbox="0 0 163 38">
								<use xlink:href='img/sprites.svg#essity-logo'></use>
							</svg>
							<figcaption aria-hidden="true">Main page</figcaption>
						</figure>
					</a>
				</div>
				<div class="footer__company-info">
					<div class="company-info typo-text" itemscope itemtype="http://schema.org/Organization">
						<div class="company-info__name typo-h-4" itemprop="name">ООО «Эссити»</div>
						<div class="company-info__requisites">
							<div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
								<span itemprop="addressCountry">Россия</span>, 
								<span itemprop="addressLocality">Москва</span>, 
								<span itemprop="streetAddress">ул. Кржижановского, д.14, к.3</span>
							</div>
							<a class="text-link underline-in" href="mailto:reception.moscow@essity.com" itemprop="email">reception.moscow@essity.com</a>
							<a class="text-link underline-in requisite" href="tel:+74959673367">
								<dl>
									<dt>Тел.: </dt>
									<dd itemprop="telephone">+7&nbsp;495&nbsp;967&nbsp;33&nbsp;67</dd>
								</dl>
							</a>
							<a class="text-link underline-in requisite" href="tel:+74959673368">
								<dl>
									<dt>Факс.: </dt>
									<dd itemprop="faxNumber">+7&nbsp;495&nbsp;967&nbsp;33&nbsp;68</dd>
								</dl>
							</a>
						</div>
					</div>
				</div>
				<nav class="footer__nav typo-text">
					<ul class="footer__nav-list">
						<li class="footer__nav-item"><a href="./products.html" class="text-link underline-in">Продукты</a></li>
						<li class="footer__nav-item"><a href="./material.html" class="text-link underline-in">Маркетинговые материалы</a></li>
						<li class="footer__nav-item"><a href="./news.html" class="text-link underline-in">Новости</a></li>
						<li class="footer__nav-item"><a href="./policy.html" class="text-link underline-in">Политика конфиденциальности</a></li>
						<li class="footer__nav-item"><a href="./rules.html" class="text-link underline-in">Правила использования</a></li>
						<li class="footer__nav-item"><a href="./cookie-policy.html" class="text-link underline-in">Информация по куки-файлам</a></li>
						<li class="footer__nav-item"><a href="./service.html" class="text-link underline-in">Сервисная служба</a></li>
					</ul>
				</nav>
			</div>
			<div class="footer__bottom">
				<div class="footer__copyright typo-text">
					<meta itemprop="copyrightYear" content="2023">
					<meta itemprop="copyrightHolder" content="Essity Hygiene and Health AB">
					<div>© 2023 Essity Hygiene and Health AB</div>
				</div>
				<div class="footer__tag typo-tag">
					Компания Essity является одним из мировых лидеров в области товаров для гигиены и здоровья, которая разрабатывает, производит и продает средства личной гигиены (продукция детской гигиены, женской гигиены, товары для ухода при недержании и медицинские решения), а также потребительскую бумажную продукцию и бумажную продукцию и услуги для профессиональной гигиены. В России компания представлена продукцией торговых марок Tork, Zewa, Libero, Libresse и TENA. С более подробной информацией можно ознакомиться на сайте: www.essity.ru
				</div>
			</div>
		</div>
	</div>
</footer>