 <head>
	<title>@@title</title>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<!-- <style>body{opacity: 0;}</style> -->
	@@stylesheets
	<!-- <link rel="stylesheet" href="css/swiper-bundle.min.css"> -->

	<!-- Libs and Common scripts -->
	<script defered src='libs/tua-bsl.umd.js'></script>
	<script defered src='js/common.min.js'></script>

	<!-- Page scripts -->
	@@scripts
	
	<link rel="shortcut icon" href="favicon.ico">
	<!-- <meta name="robots" content="noindex, nofollow"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		@import url(https://fonts.googleapis.com/css?family=Golos+Text:500);
		@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600);
	</style>
	<!-- <script>
		window.onerror = function(message, url, line, col, errorObj) {
			console.log(`${message}\n${url}, ${line}:${col}`, errorObj);
		};
	</script> -->
</head>