.header {
	position: absolute;
	left: 0;
	top: 0;
	width: calc(var(--wrap-block-width) * 0.5px);
	background-color: $--white;
	z-index: 100;
	&_right {
		right: 0;
		left: auto;
	}
	@media (max-width: $mbpTablet) {
		width: calc(var(--wrap-block-width) * 1px);
	}
	&__container {
		display: flex;
		align-items: center;
		padding-top: rem(45);
		padding-bottom: rem(45);
		@media (max-width: $mbpTablet) {
			padding-top: rem(30);
			padding-bottom: rem(30);
		}
		@media (max-width: $mbpMobile) {
			padding-top: rem(24);
			padding-bottom: rem(24);
		}
		@media (max-width: $mbpSmallMobile) {
			padding-top: rem(18);
			padding-bottom: rem(18);
		}
	}
	&__logo-wrap {
		flex: 1 0 auto;
	}
	&__logo {
		max-width: rem(320);
		@media (min-width: $mbpSmallMobile) and (max-width: $mbpTablet) {
			max-width: aval(162, 320, 0, $mbpSmallMobileNu, $mbpTabletNu);
		}
		@media (max-width: $mbpSmallMobile) {
			max-width: rem(162);
		}
	}
	&__cart-area {
		flex: 0 0 auto;
	}
	&__contacts-btn-area {
		margin-right: 22px;
		@media (max-width: 320px) {
			margin-right: 10px;
		}
	}
	&__menu-area {
		display: none;
		flex: 0 0 auto;
		@media (max-width: 720px) {
			display: inline-block;
		}
	}
}