.swiper-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: scaleVal(65);
	height: scaleVal(65);
	background-color: $--white;
	border-radius: 50%;
	box-shadow: 0px rem(2) rem(12) rgba(35, 0, 0, 0.1);
	opacity: 0.9;
	stroke: $--black;
	cursor: pointer;
	transition: opacity 0.3s;
	@media (max-width: $mbpTablet) {
		width: rem(65);
		height: rem(65);
	}
	@media (min-width: $mbpMinWidth) and (max-width: $mbpTablet) {
		width: aval(36, 65, 0, $minWidth, $mbpTabletNu);
		height: aval(36, 65, 0, $minWidth, $mbpTabletNu);
	}
	@media (max-width: $mbpMinWidth) {
		width: rem(36);
		height: rem(36);
	}
	&:hover {
		opacity: 1;
	}
	& > svg {
		width: 40%;
	}
	&_prev {
	}
	&_next {
		& > svg {
			transform: rotate(180deg);
		}
	}
	&_small.swiper-btn_prev, &_small.swiper-btn_next {
		display: flex;
		justify-content: center;
		align-items: center;
		width: rem(30);
		height: rem(30);
		stroke: $--black;
		background-color: transparent;
		box-shadow: none;
		cursor: pointer;
		> svg {
			width: rem(19);
			height: rem(14);
		}
		&.swiper-button-lock {
			display: none;
		}
	}
}
.swiper-button-lock {
	display: none;
}
.swiper-button-disabled, .swiper-button-disabled:hover {
	opacity: 0.4;
	cursor: default;
}
.swiper-pagination-horizontal {
	display: flex;
	& > .swiper-pagination-bullet {
		margin-right: rem(12);
		&:last-child {
			margin-right: 0;
		}
	}
}
.swiper-pagination-bullet {
	width: rem(20);
	height: rem(20);
	background-color: $--white;
	border-radius: 50%;
	opacity: 0.4;
	cursor: pointer;
	@media (min-width: $mbpMinWidth) and (max-width: $mbpTablet) {
		width: aval(12, 20, 0, $minWidth, $mbpTabletNu);
		height: aval(12, 20, 0, $minWidth, $mbpTabletNu);
	}
	@media (max-width: $mbpMinWidth) {
		width: rem(12);
		height: rem(12);
	}
	&:hover, &-active {
		background-color: $--orange;
		opacity: 1;
	}
}
.swiper-scrollbar-horizontal {
	width: 100%;
	height: rem(2);
	background-color: $--grayBg;
	> .swiper-scrollbar-drag {
		height: 100%;
		background-color: $--black;
	}
}